/* ---------------------------------- */
/* 1. Reset CSS */
/* ---------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------- */
/* 2. Variáveis */
/* ---------------------------------- */

:root {
  --White: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-950: hsl(292, 42%, 14%);

  --font-family-work-sans: "Work Sans", sans-serif;
}

/* ---------------------------------- */
/* 3. Tipografia */
/* ---------------------------------- */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-size: 16px;
  font-family: var(--font-family-work-sans);
  background-image: url("../assets/images/background-pattern-desktop.svg"),
    linear-gradient(to top, var(--Purple-100) 70%, var(--Purple-950) 60%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

/* ---------------------------------- */
/* 4. Layout */
/* ---------------------------------- */

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attribution {
  margin-top: 30px;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: var(--Purple-950);
}

.attribution a:hover {
  color: purple;
}
/* ---------------------------------- */
/* 5. Componentes */
/* ---------------------------------- */

.card {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
}

.card-title {
  color: var(--Purple-950);
}

.icon-star {
  width: 22px;
  margin-right: 20px;
}

.faq-question {
  margin: 20px 0;
  color: var(--Purple-950);
  font-weight: 600;
}

.faq-question span {
  padding-right: 60px;
}

.faq-question p {
  padding-right: 10px;
}

.faq-answer {
  color: var(--Purple-600);
  line-height: 1.5;
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between; /* texto à esquerda, ícone à direita */
}

summary::-webkit-details-marker {
  display: none; /* remove a seta padrão */
}

/* Ícone quando fechado */
summary::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  background: url("../assets/images/icon-plus.svg") no-repeat center center;
  background-size: contain;
}

/* Ícone quando aberto */
details[open] summary::after {
  background-image: url("../assets/images/icon-minus.svg");
}

hr {
  border: 1px solid var(--Purple-100);
}

/* ---------------------------------- */
/* 6. Media Queries */
/* ---------------------------------- */

@media (max-width: 414px) {
  .card {
    width: 350px;
    max-width: 100%;
  }

  .attribution {
    display: none;
  }

  body {
    background-image: url("../assets/images/background-pattern-mobile.svg"),
      linear-gradient(to top, var(--Purple-100) 60%, var(--Purple-950) 60%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 600px;
    max-width: 100%;
  }
}
